<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <title>accueil</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="http:\\localhost:3000">Accueil</a></li>
                <li><a href="http:\\localhost:3000\services">services</a></li>
                <li><a href="http:\\localhost:3000\contact">nous contactez</a></li>

            </ul>
        </nav>
    </header>
    <main>
        <h1>accueil</h1>

    </main>

</body>

</html>